body{
    font-family:Arial;
}
h1{
    color:black;
    
}
.scene{
    position:relative;
    height:700px;
    width:1000px;
    margin:0 auto;
    background-color:rgb(53,101,77);
}
.btn{
    background-color:#7ad7f0;
    border: 2px solid black;
    border-radius:10px;
    outline:none;
}
.btn:hover{
    filter:brightness(.75);
}
.btn:active{
    transform: translateY(3%);
}
.btn-circle{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    font-size: 30px; 
    text-align: center; 
    overflow: hidden;
}
.chip1{
    position: absolute;
    bottom:10px;
    left:10px;
    background-color: gray;
}
.chip5{
    position:absolute;
    bottom:10px;
    left:120px;
    background-color: red;
}
.chip25{
    position:absolute;
    bottom:10px;
    left:230px;
    background-color: royalblue;
}
.chip100{
    position:absolute;
    bottom:10px;
    left:340px;
    background-color: green;
}
.chip500{
    position:absolute;
    bottom:10px;
    left:450px;
    background-color: purple;
}
.reset-bet{
    position:absolute;
    bottom:10px;
    left:560px;
    background-color: black;
    color:white;
}
.btn-hit{
    height:50px;
    width:100px;
    position:absolute;
    top:400px;
    left:30px;
    display:none;
}
.btn-stand{
    height:50px;
    width:100px;
    position:absolute;
    top:350px;
    left:30px;
    display:none;
}
.btn-deal{
    height:50px;
    width:100px;
    position:absolute;
    bottom:400px;
    left:300px;
}
.btn-playAgain{
    height:50px;
    width:150px;
    position:absolute;
    bottom:400px;
    left:450px;
    display:none;
}
.card{
    height:20/3%;
    width:10%;
    background-color:white;
}
.card-dealer{
    position:absolute;
    top:20%;
    left:30%;
}
.card-player{
    position:absolute;
    top:50%;
    left:30%;
}
.dealer-score{
    position:absolute;
    top:25px;
    left:300px;
    background-color:#7ad7f0;
    border: 2px solid black;
    border-radius:10px;
    width:100px;
    height:70px;
    font-size:50px;
    text-align:center;
}
.player-score{
    position:absolute;
    bottom:120px;
    left:300px;
    background-color:#7ad7f0;
    border: 2px solid black;
    border-radius:10px;
    width:100px;
    height:70px;
    font-size:50px;
    text-align:center;
}
.wallet{
    position:absolute;
    top:25px;
    left:25px;
    background-color:#98fb98;
    border: 2px solid black;
    border-radius:10px;
    width:250px;
    height:60px;
    font-size:40px;
    text-align:center;
}
.bet-counter{
    position:absolute;
    top:100px;
    left:25px;
    background-color:#98fb98;
    border: 2px solid black;
    border-radius:10px;
    width:250px;
    height:60px;
    font-size:40px;
    text-align:center;
}
.bet-error{
    position:absolute;
    text-align:center;
    background-color:red;
    color:white;
    height:75px;
    width:100%;
    font-size:50px;
    top:50%;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    display:none;
  }
.result{
    position:absolute;
    text-align:center;
    background-color:black;
    color:white;
    height:75px;
    width:100%;
    font-size:50px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
}
