

h1{
    color:black;
    
}
.scene{
    position:relative;
    height:700px;
    width:1000px;
    margin:0 auto;
    background-color:rgb(53,101,77);
}
.btn{
    background-color:#7ad7f0;
    border: 2px solid black;
    border-radius:10px;
    outline:none;
}
.btn:hover{
    filter:brightness(.75);
}
.btn:active{
    transform: translateY(3%);
}
.btn-circle{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    font-size: 30px; 
    text-align: center; 
    overflow: hidden;
}
.chip1{
    position: absolute;
    bottom:10px;
    left:10px;
    background-color: gray;
}
.chip5{
    position:absolute;
    bottom:10px;
    left:120px;
    background-color: red;
}
.chip25{
    position:absolute;
    bottom:10px;
    left:230px;
    background-color: royalblue;
}
.chip100{
    position:absolute;
    bottom:10px;
    left:340px;
    background-color: green;
}
.chip500{
    position:absolute;
    bottom:10px;
    left:450px;
    background-color: purple;
}
.btn-hit{
    height:50px;
    width:100px;
    position:absolute;
    top:400px;
    left:30px;
}
.btn-stand{
    height:50px;
    width:100px;
    position:absolute;
    top:350px;
    left:30px;
}
.btn-deal{
    height:50px;
    width:100px;
    position:absolute;
    bottom:400px;
    left:350px;
}
.btn-playAgain{
    height:50px;
    width:150px;
    position:absolute;
    bottom:400px;
    left:450px;
}
.card-none{
    position:absolute;

}
.card-back{
    position:absolute;

}
.card-front{
    position:absolute;

}